/saves
/logs
/local
options.txt
.curseclient
minecraftinstance.json
usernamecache.json
usercache.json
user-prefs.json
config/splash.properties
config/hbmRecipes/_hbmSolidifier.json
config/hbmRecipes/_hbmReforming.json
config/hbmRecipes/_hbmPress.json
config/hbmRecipes/_hbmMixer.json
config/hbmRecipes/_hbmHydrotreating.json
config/hbmRecipes/_hbmFractions.json
config/hbmRecipes/_hbmElectrolyzerFluid.json
config/hbmRecipes/_hbmCrystallizer.json
config/hbmRecipes/_hbmCryodistillator.json
config/hbmRecipes/_hbmCracking.json
config/hbmRecipes/_hbmCompressor.json
config/hbmRecipes/_hbmCoker.json
config/hbmRecipes/_hbmArcFurnace.json
config/hbmConfig/_hbmArmor.json
config/hbm/_hbmFluidTraits.json
config/hbmRecipes/_hbmAssembler.json
config/hbmRecipes/_hbmIrradiationFluids.json
config/jei/worldSettings.cfg
/crash-reports
config/hbmConfig/_hbmFluidTraits.json
/journeymap
mods/temp mods.zip
/config/tellme
/fonts
backups/restore-script.bat
backups/restore-script.sh
/backups
/cache
hei_bookmarks.ini
OpenComputersMod-1.8.9a-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.9a-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.9a-54-libjnlua54-windows-x86_64.dll
