# Configuration file

client {

    ##########################################################################################################
    # gui
    #--------------------------------------------------------------------------------------------------------#
    # Edit new gui.
    ##########################################################################################################

    gui {
        # Show baubles button or not [default: true]
        B:baublesButton=true

        # Columns of the wider sidebar [range: 2 ~ 5, default: 2]
        I:column=2

        # Gui needed baubles overlay [default: [vazkii.botania.client.gui.box.GuiBaubleBox], [cursedflames.bountifulbaubles.block.GuiReforger]]
        S:guiList <
            vazkii.botania.client.gui.box.GuiBaubleBox
            cursedflames.bountifulbaubles.block.GuiReforger
         >

        # Patch some containers such as BaubleBox. If false, it will patch after the selected key pressed [default: true]
        B:guiOverlay=true

        # Default visibility of the scroller bar [default: true]
        B:scrollerBar=false

        # Show the tip for baubles' type or not [default: true]
        B:typeTip=true

        # Show visible switchers or not [default: true]
        B:visibleSwitchers=false

        # Default selection of the sidebar [default: false]
        B:widerBar=false
    }

}


general {
    #  [default: [wct:wct]]
    S:clickBlacklist <
        wct:wct
     >

    #  [default: [items.json]]
    S:itemsJson <
        items.json
     >

    # Whether baubles can drop when player dies. [default: false]
    B:keepBaubles=false

    #  [default: ]
    S:modulesJson <
     >

    # Whether player can use right click to equip baubles. [default: true]
    B:rightClick=true

    #  [default: [types.json]]
    S:typesJson <
        types.json
     >

    ##########################################################################################################
    # compat
    #--------------------------------------------------------------------------------------------------------#
    # Toggle compatibility modifications
    ##########################################################################################################

    compat {
        # If the NoClassDefFoundError occurs, please enter the method name here. [default: [artifacts.client.model.layer.LayerBauble.doRenderLayer], [keletu.enigmaticlegacy.client.LayerBauble.doRenderLayer], [rlmixins.client.layer.LayerQuarkBaubleHat.doRenderLayer], [com.keletu.ancienttweaks.baubles.client.LayerBeltJelly.doRenderLayer]]
        S:methodLocation <
            artifacts.client.model.layer.LayerBauble.doRenderLayer
            keletu.enigmaticlegacy.client.LayerBauble.doRenderLayer
            rlmixins.client.layer.LayerQuarkBaubleHat.doRenderLayer
            com.keletu.ancienttweaks.baubles.client.LayerBeltJelly.doRenderLayer
         >
    }

    ##########################################################################################################
    # slots
    #--------------------------------------------------------------------------------------------------------#
    # Modify the quantity of initial baubles.
    ##########################################################################################################

    slots {
        # Set slots for amulet [range: 0 ~ 100, default: 1]
        I:amuletSlot=0

        # Set slots for bauble [range: 0 ~ 100, default: 0]
        I:baubleSlot=0

        # Set slots for belt [range: 0 ~ 100, default: 1]
        I:beltSlot=0

        # Set slots for body [range: 0 ~ 100, default: 1]
        I:bodySlot=1

        # Set slots for charm [range: 0 ~ 100, default: 1]
        I:charmSlot=1

        # Set slots for head [range: 0 ~ 100, default: 1]
        I:headSlot=0

        # Set slots for ring [range: 0 ~ 100, default: 2]
        I:ringSlot=0

        # Set slots for trinket [range: 0 ~ 100, default: 0]
        I:trinketSlot=0
    }

    ##########################################################################################################
    # items
    #--------------------------------------------------------------------------------------------------------#
    # Item modified by BaublesEX. (need to restart)
    ##########################################################################################################

    items {
        # Set elytra as bauble [default: false]
        B:elytraBauble=false

        # Get a specific slot for elytra [default: elytra]
        S:elytraSlot=elytra

        # The ring added by original Baubles [default: true]
        B:itemRing=false

        # Max level of haste given by Miner's Ring [range: 0 ~ 255, default: 1]
        I:maxLevel=1

        # For test, or you want [default: false]
        B:testItem=false

        # Set totem of undying as bauble [default: false]
        B:totemBauble=true

        # Get a specific slot for elytra [default: charm]
        S:totemSlot=charm
    }

    commands {
        # Whether /baubles commands send logs when commands have executed successfully [default: true]
        B:commandLogs=true

        # Make /baubles debug commands available for use [default: false]
        B:debug=false

        # Whether /baubles clear will drop baubles [default: true]
        B:dropBaubles=true
    }

}


