# Configuration file

general {
    I:EntityBat=1
    I:EntityChicken=1
    I:EntityCreeper=1
    I:EntityDorpa=1
    I:EntityEnderman=1
    I:EntityFerCow=1
    I:EntityGlowingOne=1
    I:EntityHost=1
    I:EntityHusk=1
    I:EntityInfCow=1
    I:EntityInfHuman=1
    I:EntityLeem=1
    I:EntityLodo=1
    I:EntityMudo=1
    I:EntityPig=1
    I:EntityRabbit=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntitySkeleton=1
    I:EntitySpider=1
    I:EntityStray=1
    I:EntityTippedArrow=1
    I:EntityVenkrol=1
    I:EntityVenkrolSII=1
    I:EntityVillager=1
    I:EntityWitch=1
    I:EntityWymo=1
    I:EntityZombie=1
    I:EntityZombieVillager=1
    I:"update Interval"=1000
}


