# Configuration file

general {
    I:EntityAreaEffectCloud=0
    I:EntityAta=0
    I:EntityBano=0
    I:EntityBanoAdapted=0
    I:EntityBasalz=0
    I:EntityBat=0
    I:EntityBiomass=0
    I:EntityBlitz=0
    I:EntityBlitzBolt=0
    I:EntityBlueSlime=0
    I:EntityBomb=0
    I:EntityBoxcar=0
    I:EntityBulletBase=0
    I:EntityBulletBaseMK4=0
    I:EntityBulletBeamBase=0
    I:EntityButhol=0
    I:EntityCanra=0
    I:EntityCanraAdapted=0
    I:EntityChicken=0
    I:EntityCloudSolinium=0
    I:EntityCorpse=0
    I:EntityCow=0
    I:EntityCreeper=0
    I:EntityCreeperGold=0
    I:EntityCreeperNuclear=0
    I:EntityCreeperPhosgene=0
    I:EntityCreeperVolatile=0
    I:EntityCruxA=0
    I:EntityCruxB=0
    I:EntityDod=0
    I:EntityDodSIV=0
    I:EntityDodT=0
    I:EntityDonkey=0
    I:EntityDorpa=0
    I:EntityDpsFloatingNumber=0
    I:EntityElvia=0
    I:EntityEmana=0
    I:EntityEmanaAdapted=0
    I:EntityEnderman=0
    I:EntityFallingBlock=0
    I:EntityFalloutRain=0
    I:EntityFerCow=0
    I:EntityFerHuman=0
    I:EntityFireLingering=0
    I:EntityFlam=0
    I:EntityFloatingNumber=0
    I:EntityGhast=0
    I:EntityGim=0
    I:EntityGimAdapted=0
    I:EntityGlowingOne=0
    I:EntityGlyphid=0
    I:EntityGlyphidBehemoth=0
    I:EntityGlyphidBlaster=0
    I:EntityGlyphidBombardier=0
    I:EntityGlyphidBrawler=0
    I:EntityGlyphidDigger=0
    I:EntityGlyphidScout=0
    I:EntityGore=0
    I:EntityGrenadeIFSpark=0
    I:EntityGrenadeLemon=0
    I:EntityGrenadeSolinium=0
    I:EntityGuardian=0
    I:EntityHeed=0
    I:EntityHorse=0
    I:EntityHost=0
    I:EntityHull=0
    I:EntityHusk=0
    I:EntityIki=0
    I:EntityInfBear=0
    I:EntityInfCow=0
    I:EntityInfCowHead=0
    I:EntityInfDragonE=0
    I:EntityInfEnderman=0
    I:EntityInfEndermanHead=0
    I:EntityInfHorse=0
    I:EntityInfHorseHead=0
    I:EntityInfHuman=0
    I:EntityInfHumanHead=0
    I:EntityInfPig=0
    I:EntityInfPigHead=0
    I:EntityInfPlayer=0
    I:EntityInfPlayerHead=0
    I:EntityInfSheep=0
    I:EntityInfSheepHead=0
    I:EntityInfSquid=0
    I:EntityInfVillager=0
    I:EntityInfVillagerHead=0
    I:EntityInfWolf=0
    I:EntityInfWolfHead=0
    I:EntityInhooM=0
    I:EntityInhooS=0
    I:EntityItem=0
    I:EntityKirin=0
    I:EntityLeem=0
    I:EntityLeemB=0
    I:EntityLencia=0
    I:EntityLesh=0
    I:EntityLightningBolt=0
    I:EntityLlama=0
    I:EntityLodo=0
    I:EntityLum=0
    I:EntityLumAdapted=0
    I:EntityMagmaCube=0
    I:EntityMeteor=0
    I:EntityMinecartChest=0
    I:EntityMist=0
    I:EntityMooshroom=0
    I:EntityMudo=0
    I:EntityNade=0
    I:EntityNak=0
    I:EntityNogla=0
    I:EntityNoglaAdapted=0
    I:EntityNukeExplosionMK3=0
    I:EntityNukeExplosionMK5=0
    I:EntityNukeTorex=0
    I:EntityOrbScary=0
    I:EntityParasiticScent=0
    I:EntityPheon=0
    I:EntityPig=0
    I:EntityPigZombie=0
    I:EntityPigeon=0
    I:EntityPlayerSP=0
    I:EntityPotion=0
    I:EntityProjectileElviaBall=0
    I:EntityProjectileHomming=0
    I:EntityProjectileLenciaBall=0
    I:EntityProjectileNade=0
    I:EntityProjectileSpineball=0
    I:EntityProjectileWebball=0
    I:EntityRabbit=0
    I:EntityRagingVortex=0
    I:EntityRailgunBlast=0
    I:EntityRanrac=0
    I:EntityRanracAdapted=0
    I:EntityRemain=0
    I:EntityRof=0
    I:EntityRubble=0
    I:EntitySheep=0
    I:EntityShrapnel=0
    I:EntityShyco=0
    I:EntityShycoAdapted=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySpeCow=0
    I:EntitySpeEnderman=0
    I:EntitySpeHuman=0
    I:EntitySpeSheep=0
    I:EntitySpeVillager=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityStray=0
    I:EntityTippedArrow=0
    I:EntityToxicCloud=0
    I:EntityUFO=0
    I:EntityVenkrol=0
    I:EntityVenkrolSII=0
    I:EntityVillager=0
    I:EntityWave=0
    I:EntityWitch=0
    I:EntityWolf=0
    I:EntityWymo=0
    I:EntityXPOrb=0
    I:EntityZombie=0
    I:EntityZombieVillager=0
    I:MCH_ViewEntityDummy=0
    I:WeaponSpawnEntity=0
    I:"update Interval"=1000
}


